*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}